parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null#'
